body {
    display: flex;
    justify-content: center;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: slategrey;
}

.row {
    display: flex;
    flex: 1;
}

button {
    flex: 1 1 0;
    margin: 2px;
    border: none;
    border-radius: 5px;
}

input {
    flex: 1;
    text-align: right;
    border: 0.5 px solid lightgray;
}

.numBtn {
    background-color: lightsteelblue;
}

#decimal {
    background-color: lightsteelblue;
}

#negative {
    background-color: darkkhaki
}

#percent {
    background-color: darkkhaki
}

#clear {
    background-color: darkkhaki
}