body {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: rgb(125, 134, 142);
}

.row {
    display: flex;
    flex: 1;
}

button {
    flex: 1 1 0;
    margin: 2px;
    border: none;
    border-radius: 5px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:active {
    transform:translateY(2px);
}

input {
    flex: 1;
    text-align: right;
    border: 0.5 px solid lightgray;
    background-color: rgb(161, 181, 200);
    font-size: large;
}

.numBtn {
    background-color: lightsteelblue;
}
.numBtn:hover {
    background-color: rgb(154, 172, 196);
}

#decimal {
    background-color: lightsteelblue;
}

#decimal:hover {
    background-color: rgb(154, 172, 196);
}

.topRow {
    background-color: darkkhaki
}

.topRow:hover {
    background-color: rgb(168, 163, 94);
}


#multiply {
    background-color: orangered;
}

#multiply:hover {
    background-color: rgb(227, 61, 1);
}

#divide {
    background-color: darkorange;
}

#divide:hover {
    background-color: rgb(231, 128, 2);
}

#minus {
    background-color: rgb(192, 53, 3);
}

#minus:hover {
    background-color: rgb(179, 49, 1);
}

#plus {
    background-color: rgb(160, 44, 2);
}

#plus:hover {
    background-color: rgb(139, 39, 3);
}

#equals {
    background-color:firebrick
}

#equals:hover {
    background-color: rgb(160, 30, 30);
}
